<body data-spy="scroll" data-target="#navbarResponsive">

    <!-----   Start of Home Section -->
    <div id = "home">
            <!--- Navigation -->
                <!-- Smaller Screens and tablets-->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <a class="nav-brand" href="#"><img src="../assets/cod.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#aboutus">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#services">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#technologies">Technologies</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#ourteam">Our Team</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#contactus">Contact Us</a>
                        </li>
                    </ul>

                </div>



            </nav>

            


            <!-- End Navigation -->

    </div>
    <!--  End of Home Section -->

    <!-----   Start of About Us Section -->

    <div id = "aboutus" class = "offset">

        
    </div>

    <!--  End of About us Section -->

    <!-----   Start of Services Section -->

    <div id = "services" class = "offset">

        
    </div>

    <!--  End of Services Section -->

    <!-----   Start of Technologies Section -->
    <div id = "technologies" class = "offset">

        
    </div>

    <!--  End of Technologies Section -->


    <!-----   Start of Our Team Section -->
    <div id = "ourteam" class = "offset">

        
    </div>

    <!--  End of Our Team Section -->



    <!-----   Start of Contact Us Section -->

    <div id = "contactus" class = "offset">

        
    </div>



    <!--  End of Contact Us Section -->
</body>
<router-outlet></router-outlet>