<div data-spy="scroll" data-target="#navbarResponsive" data-offset="0">

    <!-----   Start of Home Section -->
    <div id = "home">
            <!--- Navigation -->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

            </nav>



            <!-- End Navigation -->

    </div>
    <!--  End of Home Section -->

    <!-----   Start of About Us Section -->

    <div id = "aboutus" class = "offset">

        
    </div>

    <!--  End of About us Section -->

    <!-----   Start of Services Section -->

    <div id = "services" class = "offset">

        
    </div>

    <!--  End of Services Section -->

    <!-----   Start of Technologies Section -->
    <div id = "technologies" class = "offset">

        
    </div>

    <!--  End of Technologies Section -->


    <!-----   Start of Our Team Section -->
    <div id = "ourteam" class = "offset">

        
    </div>

    <!--  End of Our Team Section -->



    <!-----   Start of Contact Us Section -->

    <div id = "contactus" class = "offset">

        
    </div>



    <!--  End of Contact Us Section -->
</div>
<router-outlet></router-outlet>